body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
h1 {
  color:   #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.sub-heading{
  font-weight: normal;
}
h2 {
  color:   #66bfbf;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

.nature{
  margin-top:100px;
  width: 20%;
  height:auto;
}
.miidlle-container{
  margin: 100px 0;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.bottom-container{
  margin-top: 50px;
  margin-bottom: 0;
  padding: 50px 0 20px;
  background-color: #66bfbf;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.icon-line{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: small;
  margin: 0;
}
.icons{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: small;
}
.icons:hover{
  color: #EAF6F6;
}
.profile{
  line-height: 2;
}
.message{
  margin: 40px auto 60px;
  width:40%
}
.skill-row{
  width : 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.btm-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.intro{
  width: 30%;
  margin: 50px auto 50px auto;
}
.webdev{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.gamedev{
  width:25%;
  float: right;
  margin-left: 30px;
}
.pic{
  width: 15%;
  margin-top: 50px;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
}
.btn {
  background: #11CCD4;
  background-image: -webkit-linear-gradient(top, #11CCD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CCD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CCD4, #11999E);
  background-image: -o-linear-gradient(top, #11CCD4, #11999E);
  background-image: linear-gradient(to bottom, #11CCD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
